* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    height: 450px;
    border: 2px solid red;
    display: flex;
    /* flex-wrap:nowrap; */
    justify-content:center;
    align-items:center;
}

.box {
    background-color: #DDD;
    border: 1px solid green;
    width: 60px;
    height: 60px;
}

#item1{
    align-self:flex-start;
    flex-grow:1;
}
#item3{
    align-self:flex-end;
    flex-grow:2;
}