@import "tailwindcss";

@theme {
    --color-primaria:#121063;

    --animate-floatUp: floatUp 2s infinite;
    --animate-floatRight: floatRight 2s infinite;
    --animate-opacityPulse: opacityPulse 2s infinite;
    --background-image: url('/src/assets/bguber.png');

    

    @keyframes floatUp {
        0% {
            transform: translatey(0px);
        }
        50%{
            transform: translatey(-8px);
        }
        100%{
            transform: translatey(0px);
        }
    }

    @keyframes floatRight {
        0%{
            transform: translatex(0px);
        }
        50%{
            transform:translatex(8px);
        }
        100%{
            transform: translatex(0px);
        }
    }

    @keyframes opacityPulse {
        0% { opacity: 1; }
        50% { opacity: 0.7; }
        100% { opacity: 1; }
    }

    /* @layer components {
        .card {
            background-color: white;
            width: 100px;
            height: 100px;
        }
    } */

    /* @layer base {
        h1{
            @apply text-4xl;
        }
    } */
}