@import "tailwindcss";

@theme {
    --color-primaria:#121063;

    --animate-floatUp: floatUp 2s infinite;

     --background-image: url('/src/assets/bguber.png');

    

    @keyframes floatUp {
        0% {
            transform: translatey(0px);
        }
        50%{
            transform: translatey(-8px);
        }
        100%{
            transform: translatey(0px);
        }
    }
}